<nav
  class="navbar navbar-expand-lg sticky-top shadow-sm"
  style="background: var(--almond)"
>
  <div class="container">
    <a
      class="navbar-brand fw-bold"
      href="home.html"
      style="color: var(--coffee); font-size: 1.6rem"
    >
      Aroced
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="mainNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="home.html">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-semibold" href="home.html#plan">Plan Trip</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-semibold" href="packages.html">Packages</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-semibold" href="gallery.html">Gallery</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-semibold" href="reviews.html">Reviews</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-semibold" href="wishlist.html">Wishlist</a>
        </li>

        <li class="nav-item ms-lg-2">
          <a
            class="nav-link fw-semibold"
            href="contact.html"
            
          >
            Book Now
          </a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li
          class="nav-item ms-lg-2 d-flex align-items-center gap-2 fw-semibold"
        >
          <a class="btn nav-link py-2 fw-semibold" href="login-page.html"> Login </a>

          <a
            class="btn px-4 py-2 fw-semibold"
            style="background: var(--coffee); color: white; border-radius: 25px"
            href="register-page.html"
          >
            Register
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
